*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #347d45;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

header h1{
    border: 2px solid goldenrod;
    background-color: goldenrod;
    font-size: 22px;
    padding: 10px 15px;
}

main{
    text-align: center;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.ttl{
     font-size: 25px;
}
.diceList{
    padding-top: 20px;
}
.diceList li{
    display: inline;
    margin: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20%;
    padding: 10px 15px;
    font-size: 22px;
    
}

.btn-roll{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    align-self: center;
    
}

.result{
    margin-top: 20px;
}

.btn-rmv{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    align-self: center;
}

.btn-res{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    align-self: center;
}
